.cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .cart-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  & .cart-list {
    & .cart-item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 7.25rem;
      padding: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;

      &-image {
        width: 5rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          border-style: none;
          vertical-align: middle;
          max-width: 100%;
          height: auto;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: crisp-edges;
        }
      }
      &-info {
        padding-left: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;

        &-name {
          font-size: 1rem;
          font-weight: bold;
        }
        &-size {
          margin-bottom: 0.5rem;
          font-size: 0.875rem;
        }
      }
      &-action {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .btn-delete-cart-item {
          padding-right: 0;
          font-family: "familyopen_sansregular";
          font-size: 1rem;
          color: #bd9462;
          background-color: #f5f1e6;
          justify-content: flex-end;
          &:hover {
            border: 1px solid #f5f1e6 !important;
            transform: scale(1.1);
          }
        }
      }

      & + .cart-item {
        margin-top: 0.5rem;
      }
    }
  }

  & .cart-summary {
    margin-top: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    & .summary-info {
      display: flex;
      flex-direction: column;
      & .summary-info-row {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5rem;

        & label {
          font-weight: bold;
        }

        &.total {
          margin-top: 1.5rem;
          font-size: 1.25rem;
          font-weight: bold;
        }
      }
    }
  }
  & .empty-cart-message {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 0.2;

    img {
      width: 150px;
      height: 150px;
    }
  }
}
