.banner {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  height: 15rem;

  &.banner-home {
    background-image: url("../../assets/images/headline-home.jpg");
    height: 25rem;

    & h1 {
      font-family: "UltraRegular";
      font-weight: bold;
      font-size: 3rem;
      line-height: 3rem;
      color: #f9b94b;
      text-shadow: 1px 5px #824622;
      max-width: 80%;
    }
  }

  &.banner-menu {
    background-image: url("../../assets/images/headline-blog.jpg");
    & h1 {
      font-family: "UltraRegular";
      font-weight: bold;
      font-size: 2rem;
      line-height: 2rem;
      color: #d1a36b;
      max-width: 80%;
    }
  }

  &.banner-location {
    background-image: url("../../assets/images/headline-locations.jpg");
  }

  &.banner-order {
    background-image: url("../../assets/images/headline-menu.jpg");
  }
}
