.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5b084;
  color: #f5f1e6;
  font-size: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 0.125rem;
}
