.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 0.5rem;
  }

  & input {
    padding: 0 1rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 3rem;
    border-radius: 0;
    color: #d5b084;
    border: 1px solid #e0ceab;
    background-color: #f5f1e6;
    outline: none;
  }
  & textarea {
    padding: 0 1rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 3rem;
    border-radius: 0;
    color: #d5b084;
    border: 1px solid #e0ceab;
    background-color: #f5f1e6;
    outline: none;
  }

  & input::placeholder {
    color: #e0ceab;
  }

  &.dropdown {
    position: relative;
    & .dropdown-value {
      padding: 0 2rem 0 1rem;
      height: 3rem;
      font-size: 1rem;
      line-height: 3rem;
      border-radius: 0;
      color: #d5b084;
      border: 1px solid #e0ceab;
      background-color: #f5f1e6;
      outline: none;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      & .dropdown-placeholder {
        color: #e0ceab;
      }
    }
    & .toggle-btn {
      padding-left: 0;
      position: absolute;
      top: 2.25rem;
      right: 0.25rem;
      font-family: "familyopen_sansregular";
      font-size: 1rem;
      color: #bd9462;
      background-color: #f5f1e6;

      &:hover {
        border: 1px solid #f5f1e6 !important;
      }
    }

    & .dropdown-option-list {
      width: 100%;
      position: absolute;
      left: 0;
      top: 5rem;
      z-index: 999;
      width: 100%;
      max-height: 10rem;
      overflow-y: auto;
      background-color: #f5f1e6;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;

      &-item {
        padding: 0 1rem;
        font-size: 1rem;
        line-height: 2rem;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          color: #f5f1e6;
          background-color: #d5b084;
        }
      }
    }
  }

  &:hover {
    & input {
      border: 1px solid #b6a482;
    }
    & textarea {
      border: 1px solid #b6a482;
    }
    & .dropdown-value {
      border: 1px solid #b6a482;
    }
  }
}
